
img.pull-right {
	margin: 0.9rem 0 0 2.4rem;
}

img.pull-left {
	margin: 0.9rem 2.4rem 0 0;
}




.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/* -------------------------------------------------------------------
 * pace.js styles - minimal  - (_document-setup.scss)
 * ------------------------------------------------------------------- */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #000000;
	position: fixed;
	z-index: 900;
	top: 0;
	right: 100%;
	width: 100%;
	height: 5px;
}


/* ===================================================================
 *  04. preloader - (_preloader-1.scss)
 *
 * ------------------------------------------------------------------- */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	z-index: 800;
	height: 100%;
	width: 100%;
}

.no-js #preloader,
.oldie #preloader {
	display: none;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
}

#loader:before {
	content: "";
	border-top: 8px solid rgba(0, 0, 0, 0.2);
	border-right: 8px solid rgba(0, 0, 0, 0.2);
	border-bottom: 8px solid rgba(0, 0, 0, 0.2);
	border-left: 8px solid #000000;
	-webkit-animation: load 1.1s infinite linear;
	animation: load 1.1s infinite linear;
	display: block;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}

@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}


/* featured post slider - (_common-styles.scss)
 * ------------------------------------------------------------------- */
#featured-post-slider {
	position: relative;
}

.featured-grid,
.featured-post-slide {
	height: 600px;
}

.featured-post-slide {
	position: relative;
	background-color: #FFFFFF;
	width: 100%;
	padding: 6rem 15% 3rem 15%;
	text-align: center;
	display: table;
}

.featured-post-slide .post-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.featured-post-slide .overlay {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.featured-post-slide:hover .overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.featured-post-slide .post-content {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	z-index: 500;
}

.featured-post-slide .entry-meta {
	font-family: "muli-regular", sans-serif;
	margin: -3rem 0 0.9rem 0;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.412;
}

.featured-post-slide .entry-meta li {
	display: inline-block;
	margin: 0 3px;
	padding: 0;
}

.featured-post-slide .entry-meta li a {
	color: rgba(255, 255, 255, 0.6);
}

.featured-post-slide .entry-meta li a:hover,
.featured-post-slide .entry-meta li a:focus {
	color: white;
	border-color: rgba(255, 255, 255, 0.2);
}

.featured-post-slide .slide-title {
	font-family: "montserrat-bold", sans-serif;
	font-size: 3.8rem;
	line-height: 1.421;
	margin-bottom: 3rem;
	color: #FFFFFF;
}

.featured-post-slide .slide-title a {
	color: #FFFFFF;
}

.featured-post-slide .slide-title a:hover,
.featured-post-slide .slide-title a:focus {
	color: white;
	border-color: rgba(255, 255, 255, 0.2);
}

/* featured-post-slider direction nav
 * --------------------------------------------------------- */
#featured-post-slider .flex-direction-nav li {
	position: absolute;
	top: 50%;
	padding: 0;
	margin-top: -30px;
	height: 60px;
	width: 60px;
	z-index: 500;
}

#featured-post-slider .flex-direction-nav li a {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	display: block;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 16px;
	background-color: black;
	opacity: .7;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#featured-post-slider .flex-direction-nav li a.flex-prev {
	background-image: url(../images/arrow-left.png);
}

#featured-post-slider .flex-direction-nav li a.flex-next {
	background-image: url(../images/arrow-right.png);
}

#featured-post-slider .flex-direction-nav li a:hover {
	opacity: 1;
}

#featured-post-slider .flex-direction-nav li.flex-nav-prev {
	left: 0;
}

#featured-post-slider .flex-direction-nav li.flex-nav-next {
	right: 0;
}

/* responsive:
/* featured slider
/* ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	.featured-post-slide .slide-title {
		font-size: 3.7rem;
	}

}

@media only screen and (max-width:768px) {
	.featured-post-slide {
		padding: 6rem 10% 3rem 10%;
	}

	.featured-post-slide .entry-meta {
		font-size: 1.5rem;
	}

	.featured-post-slide .slide-title {
		font-size: 3.2rem;
	}

}

@media only screen and (max-width:600px) {
	.featured-grid,
	.featured-post-slide {
		height: 558px;
	}

	.featured-post-slide .slide-title {
		font-size: 3rem;
	}

	#featured-post-slider .flex-direction-nav li {
		top: auto;
		margin-top: auto;
		bottom: 0;
	}

}

@media only screen and (max-width:400px) {
	.featured-grid,
	.featured-post-slide {
		height: 450px;
	}

	.featured-post-slide .slide-title {
		font-size: 2.7rem;
	}

}




/* ===================================================================
 *  11. content wrap - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#content-wrap {
	margin-top: 6.6rem;
}

#content-wrap .row {
	max-width: 950px;
}

#content-wrap .row.wide {
	max-width: 1300px;
}

#content-wrap .row.narrow {
	max-width: 800px;
}

#content-wrap .content-media {
	position: relative;
	margin-bottom: 4.8rem;
}

#content-wrap .content-media img {
	vertical-align: bottom;
}

#content-wrap .primary-content {
	padding-left: 6rem;
	padding-right: 6rem;
}

#content-wrap .primary-content img {
	max-width: 910px;
	margin: 3rem 0 3rem -6rem;
}

#content-wrap .primary-content img.pull-right {
	margin: 0.9rem 0 0 2.4rem;
	max-width: 100%;
}

#content-wrap .primary-content img.pull-left {
	margin: 0.9rem 2.4rem 0 0;
	max-width: 100%;
}

#content-wrap .entry-title,
#content-wrap .page-title {
	font-size: 3.3rem;
	line-height: 1.364;
	margin-bottom: 0.9rem;
}

/* responsive:
 * content wrap
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	#content-wrap .row {
		max-width: 880px;
	}
	#content-wrap .primary-content {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	#content-wrap .primary-content img {
		max-width: 844px;
		margin: 3rem 0 3rem -5rem;
	}

}

@media only screen and (max-width:960px) {
	#content-wrap .row {
		max-width: 880px;
	}
	#content-wrap .primary-content {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	#content-wrap .primary-content img {
		max-width: 100%;
		margin: 3rem 0 3rem 0;
	}

}

@media only screen and (max-width:768px) {
	#content-wrap {
		margin-top: 4.8rem;
	}
	#content-wrap .primary-content {
		padding-left: 0;
		padding-right: 0;
	}
	#content-wrap .entry-title,
	#content-wrap .page-title {
		font-size: 3rem;
	}

}

@media only screen and (max-width:600px) {
	#content-wrap .entry-title,
	#content-wrap .page-title {
		font-size: 2.8rem;
	}

}


/* ===================================================================
 *  12. bricks masonry - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#bricks {
	padding-top: 4.2rem;
}

#bricks .masonry {
	max-width: 1440px;
}

#bricks .pagination {
	margin-top: 6rem;
}

#bricks.with-top-sep {
	position: relative;
}

#bricks.with-top-sep::before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -100px;
	width: 200px;
	height: 1px;
	background-color: #D1D1D1;
}

.bricks-wrapper:before,
.bricks-wrapper:after {
	content: "";
	display: table;
}

.bricks-wrapper:after {
	clear: both;
}

.bricks-wrapper .grid-sizer,
.bricks-wrapper .brick {
	width: 25%;
}

.bricks-wrapper .brick {
	float: left;
	padding: 0 20px;
}

.bricks-wrapper .featured-grid {
	width: 50%;
}

.bricks-wrapper .featured-grid .entry-content {
	width: 100%;
	background: #151515;
}

/* responsive:
/* bricks masonry
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1280px) {
	.bricks-wrapper .grid-sizer,
	.bricks-wrapper .brick {
		width: 33.33333%;
	}

	.bricks-wrapper .featured-grid {
		width: 66.66667%;
	}
}
@media only screen and (max-width:1024px) {
	.bricks-wrapper .brick {
		padding: 0 18px;
	}

}
@media only screen and (max-width:960px) {
	.bricks-wrapper .grid-sizer,
	.bricks-wrapper .brick {
		width: 50%;
	}

	.bricks-wrapper .featured-grid {
		width: 100%;
	}
}
@media only screen and (max-width:768px) {
	.bricks-wrapper .brick {
		padding: 0 15px;
	}

}

@media only screen and (max-width:600px) {
	#bricks .row {
		max-width: 460px;
	}

	.bricks-wrapper .grid-sizer,
	.bricks-wrapper .brick {
		width: 100%;
		padding: 0 10px;
		clear: both;
	}
}
@media only screen and (max-width:400px) {
	.bricks-wrapper .brick {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

}

/* ===================================================================
 *  14. blog styles
 *
 * ------------------------------------------------------------------- */

/* single post - (_blog.scss)
 * ------------------------------------------------------------------- */
.blog-single .entry-meta {
	font-family: "muli-regular", sans-serif;
	font-size: 1.5rem;
	list-style: none;
	margin-left: 0;
	margin-bottom: 5.4rem;
	color: #999999;
}
.blog-single .entry-meta a,
.blog-single .entry-meta a:visited {
	color: #000000;
}

.blog-single .entry-meta li {
	display: inline-block;
	padding-left: 0;
}

.blog-single .entry-meta .date {
	margin-right: 1rem;
}

.blog-single .entry-meta .cat a {
	margin-right: 5px;
}

.blog-single .entry-meta .cat a:last-child {
	margin-right: 0;
}

.blog-single .entry-meta .cat a::after {
	content: ",";
}

.blog-single .entry-meta .cat a:last-child::after {
	content: none;
}

.blog-single .tags {
	margin: 6rem 0 4.2rem;
}

.blog-single .tags span {
	color: #151515;
	margin-right: 1rem;
	font-size: 1.5rem;
	font-family: "montserrat-bold", sans-serif;
}

.blog-single .tags a {
	color: #999999;
	margin-right: 1rem;
}

.blog-single .author-profile {
	margin-top: 9rem;
	padding-left: 9rem;
	position: relative;
}

.blog-single .author-profile a,
.blog-single .author-profile a:visited {
	color: #000000;
}

.blog-single .author-profile img {
	margin: 0.6rem 0 0 0 !important;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.blog-single .author-profile p {
	margin-bottom: 1.2rem;
}

.blog-single .author-profile .author-social {
	list-style: none;
	margin-left: 0;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.blog-single .author-profile .author-social li {
	display: inline-block;
	margin-right: 0.8rem;
	padding-left: 0;
}

.blog-single .author-profile .author-social a {
	color: #999999;
}

.blog-single .pagenav {
	padding-top: 1.5rem;
	margin: 12rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-single .pagenav div {
	padding-top: 1.5rem;
	float: left;
	width: 50%;
}

.blog-single .pagenav a {
	font-size: 2.1rem;
	line-height: 1.571;
	font-family: "montserrat-bold", sans-serif;
	border: none;
	color: #000000;
}

.blog-single .pagenav a span {
	font-size: 1.5rem;
	line-height: 3rem;
	font-family: "muli-regular", sans-serif;
	display: block;
	margin-bottom: 1.5rem;
	color: #999999;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog-single .pagenav a:hover span {
	color: #000000;
}

/* responsive:
 * single post
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	.blog-single .entry-meta {
		font-size: 1.5rem;
	}

	.blog-single .pagenav div {
		float: none;
		width: 100%;
	}

	.blog-single .pagenav div:first-child {
		margin-bottom: 0.9rem;
	}

}

@media only screen and (max-width:600px) {
	.blog-single .author-profile {
		padding-left: 0;
		text-align: center;
	}

	.blog-single .author-profile img {
		position: static;
		width: 6.6rem;
		height: 6.6rem;
		margin: 0 0 0.6rem 0 !important;
	}

	.blog-single .pagenav {
		text-align: center;
	}

}


/* comments - (_blog.scss)
 * ------------------------------------------------------------------- */
.comments-wrap {
	background-color: rgba(0, 0, 0, 0.08);
	padding: 7.8rem 0 9rem;
}

/* comments
 * -------------------------------------------------- */
#comments {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

#comments h3 {
	margin-bottom: 1.5rem;
}

#comments ol,
#comments ul {
	list-style: none;
}

.commentlist {
	margin: 3rem 0 5.4rem;
	padding: 0;
}

.commentlist > li {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 1.8rem 0;
	padding-left: 14%;
}

.commentlist li .avatar {
	position: absolute;
	left: 0;
	display: block;
	height: 6rem;
	width: 6rem;
}

.commentlist li .avatar img {
	margin-top: 0.6rem;
	height: 6rem;
	width: 6rem;
	border-radius: 100%;
}

.commentlist li .comment-info cite {
	font-family: "montserrat-bold", sans-serif;
	font-size: 1.8rem;
	font-style: normal;
	color: #151515;
}

.commentlist li .comment-info .comment-meta {
	font-family: "muli-regular", sans-serif;
	font-size: 1.4rem;
	line-height: 3rem;
	display: block;
	color: #888888;
}

.commentlist li .comment-info .comment-meta .reply {
	font-family: "montserrat-bold", sans-serif;
	color: #151515;
}

.commentlist li .comment-info .comment-meta .sep {
	margin: 0 5px;
}

.commentlist li .comment-text {
	clear: both;
	margin: 1.8rem 0 0 0;
	padding: 0;
}

.commentlist li ul.children {
	margin: 0;
	padding: 1.8rem 0 0 0;
}

.commentlist li ul.children li {
	padding-left: 5%;
	padding-top: 1.8rem;
}

/* comments form
 * ---------------------------- */
#comments .respond {
	padding-top: 4.2rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#comments form {
	padding-top: 3rem;
}

#comments form .form-field {
	margin-bottom: 3.9rem;
}

/* responsive:
 * comments
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	#comments form button {
		width: 100%;
	}

}

@media only screen and (max-width:600px) {
	#comments h3 {
		text-align: center;
	}

	.commentlist > li {
		padding-left: 0;
	}

	.commentlist li .avatar {
		display: none;
	}

}


/* post format gallery (_blog.scss)
 * ------------------------------------------------------------------- */
.format-gallery .post-slider {
	position: relative;
	cursor: pointer;
}

.format-gallery .flex-control-paging {
	position: absolute;
	bottom: 2.1rem;
	right: 2rem;
	margin-left: 0;
	z-index: 500;
}

.format-gallery .flex-control-paging li {
	float: left;
	cursor: pointer;
	margin: 0 3px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.format-gallery .flex-control-paging li a {
	background-color: #ffffff;
	border-radius: 50%;
	display: block;
	height: 10px;
	width: 10px;
	opacity: .6;
	box-shadow: 0 1 3px rgba(0, 0, 0, 0.5);
}

.format-gallery .flex-control-paging li a:hover,
.format-gallery .flex-control-paging li a.flex-active {
	opacity: 1;
}


/* post format audio (_blog.scss)
 * ------------------------------------------------------------------- */
.format-audio .audio-wrap {
	position: absolute !important;
	bottom: 0;
	left: 0;
	width: 100%;
}

.format-audio .mejs-controls,
.format-audio .mejs-mediaelement,
.format-audio .mejs-container {
	background: url("") !important;
	background-color: rgba(17, 17, 17, 0.5) !important;
	height: 42px;
}

.format-audio .mejs-container {
	z-index: 500;
	max-width: 100%;
}

.format-audio .mejs-container .mejs-controls {
	padding: 0 10px;
	z-index: 2;
}

.format-audio .mejs-container .mejs-controls button {
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	height: 42px;
	margin: 0 6px;
}

.format-audio .mejs-container .mejs-controls .mejs-time {
	line-height: 42px;
	height: 42px;
	padding-top: 0;
}

.format-audio .mejs-controls .mejs-button {
	height: 42px;
}

.format-audio .mejs-controls .mejs-button button,
.format-audio .no-svg .mejs-controls .mejs-button button {
	background: transparent url("../images/mejs/play.png") no-repeat center;
	background-size: 14px;
}

.format-audio .mejs-controls .mejs-pause button,
.format-audio .no-svg .mejs-controls .mejs-pause button {
	background: transparent url("../images/mejs/pause.png") no-repeat center;
	background-size: 14px;
}

.format-audio .mejs-controls .mejs-mute button,
.format-audio .no-svg .mejs-controls .mejs-mute button {
	background: transparent url("../images/mejs/speaker-on.png") no-repeat center;
	background-size: 16px;
}

.format-audio .mejs-controls .mejs-unmute button,
.format-audio .no-svg .mejs-controls .mejs-unmute button {
	background: transparent url("../images/mejs/speaker-mute.png") no-repeat center;
	background-size: 16px;
}

.format-audio .mejs-controls .mejs-button button:focus {
	outline: none;
}

.format-audio .mejs-controls div.mejs-time-rail {
	margin: 19px 6px 0;
	padding: 0;
	height: 3px;
	top: 19px;
}

.format-audio .mejs-controls .mejs-time-rail span,
.format-audio .mejs-controls .mejs-time-rail a {
	border-radius: 0;
	margin: 0;
}

.format-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	position: relative;
	background: #333;
	height: 3px;
}

.format-audio .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #7A7A7A;
	height: 3px;
}

.format-audio .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #fff;
	height: 3px;
}

.format-audio .mejs-controls .mejs-time-rail .mejs-time-float {
	border: none;
	height: 18px;
	line-height: 18px;
	border-radius: 2px;
}

.format-audio .mejs-controls .mejs-time-rail .mejs-time-float-current {
	padding: 0 4px;
	width: auto;
}

.format-audio .mejs-controls .mejs-time-rail .mejs-time-float-corner {
	top: 16px;
}

.format-audio .mejs-controls a.mejs-horizontal-volume-slider {
	height: 42px;
}

.format-audio .mejs-controls .mejs-volume-button {
	position: relative;
	margin-right: 6px;
}

.format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	border-radius: 0;
	background: #333;
	height: 3px;
	top: 19px;
}

.format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
	background: #fff;
	height: 3px;
	top: 19px;
}


/* ===================================================================
 *  15. page styles
 *
 * ------------------------------------------------------------------- */

/* contact page
 * ------------------------------------------------------------------- */

/* map
 * ----------------------------------------------- */
#map-wrap {
	background: white;
	z-index: 800;
	height: 420px;
}

#map-wrap .gm-style img {
	max-width: none;
}

#map-wrap .gm-style label {
	width: auto;
	display: inline;
}

#map-wrap #map-container {
	height: 100%;
	width: 100%;
	background: #DBDBDB;
	position: relative;
}

#map-wrap #map-zoom-in,
#map-wrap #map-zoom-out {
	height: 3.2rem;
	width: 3.2rem;
	cursor: pointer;
	margin-right: 4rem;
	color: white;
	background-color: black;
	display: none;
}

@media only screen and (max-width:600px) {
	#map-wrap #map-zoom-in,
	#map-wrap #map-zoom-out {
		margin-right: 3.5rem;
	}

}

@media only screen and (max-width:400px) {
	#map-wrap #map-zoom-in,
	#map-wrap #map-zoom-out {
		margin-right: 2.5rem;
	}

}

#map-wrap #map-zoom-in {
	margin-bottom: 2px;
	margin-top: 30px;
}

#map-wrap #map-zoom-in::before,
#map-wrap #map-zoom-out::before {
	display: block;
	color: white;
	text-align: center;
	font-family: 'FontAwesome';
	font-size: 14px;
	content: "\f067";
	height: 32px;
	width: 32px;
	line-height: 32px;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

#map-wrap #map-zoom-in::before {
	content: "\f067";
}

#map-wrap #map-zoom-out::before {
	content: "\f068";
}

#map-wrap #map-zoom-in:hover::before,
#map-wrap #map-zoom-out:hover::before {
	color: #034e4a;
}

/* contact form
 * ----------------------------------------------- */
#cForm {
	margin-top: 3.6rem;
}
